/* @plugin "flowbite/plugin";
@source "../../node_modules/flowbite"; */

@font-face {
    font-family: 'BigBlueTerm'; 
    src: url('/fonts/BigBlueTerminal/BigBlueTermPlusNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;  
}

@font-face {
    font-family: 'Dimitri'; 
    src: url('/fonts/dimitri/dimitri.TTF') format('truetype');
    font-weight: normal; 
    font-style: normal;  
}

@font-face {
    font-family: 'Cousine'; 
    src: url('/fonts/Cousine/CousineNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;  
}
@font-face {
    font-family: 'Cousine'; 
    src: url('/fonts/Cousine/CousineNerdFontMono-Bold.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;  
}

.logo-font {
    font-family: 'Dimitri', sans-serif;
}

.primary-font {
    font-family: 'BigBlueTerm', sans-serif;
}

.secondary-font {
    font-family: 'Cousine', sans-serif;
}

html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
  /* Define the styles for the unloaded pages */
  html.is-animating .transition-fade {
    opacity: 0;
  }

  .transition-main {
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transform: translateX(0);
    opacity: 1;
  }
  
  html.is-animating .transition-main {
    opacity: 0;
    transform: translateX(-1em);
  }
  
  html.is-leaving .transition-main {
    transform: translateX(1em);
  }
  
  
  html.is-animating.to-left .transition-main {
    opacity: 0;
    transform: translateX(1em);
  }
  
  html.is-leaving.to-left .transition-main {
    transform: translateX(-1em);
  }