<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bytes Guide | {{ .Title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/tailwind/output.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/bytes-guide-logo.svg">
  </head>

  <body class="min-w-[100vw] bg-neutral-950 dark:text-white secondary-font">

    <main id="swup" class="transition-fade">
    {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}

    {{ partial "sidebar" . }}
    <!-- Import Swup as ESM -->
    <script type="module">
        {{/*  import Swup from 'https://unpkg.com/swup@4?module';
        const swup = new Swup();  */}}
    </script>
</body>
</html>