{{ define "main" }}

<div class="container mx-auto px-4 py-8">
  <button
    onclick="history.back()"
    class="text-neutral-500 text-sm cursor-pointer secondary-font flex justify-center items-center mb-3 hover:underline focus:outline-none focus:ring-2 focus:ring-neutral-300 dark:text-neutral-500 dark:focus:ring-neutral-800"
  >
    <svg
      class="w-4 h-4 mr-2 text-neutral-500"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-arrow-left-icon lucide-arrow-left"
    >
      <path d="m12 19-7-7 7-7" />
      <path d="M19 12H5" />
    </svg>
    Go back
  </button>

  {{ if .Params.image }}
  <a href="{{ .Permalink }}">
    <img
      class="rounded-lg w-full h-128 object-cover mb-2"
      src="{{ .Params.image }}"
      alt="{{ .Title }}"
    />
  </a>
  {{ else }}
  <a href="{{ .Permalink }}">
    <div
      class="rounded-t-lg w-full h-64 bg-gray-200 dark:bg-gray-700 flex items-center justify-center"
    >
      <svg
        class="w-10 h-10 text-gray-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
  </a>
  {{ end }}
  <div class="container-fluid flex flex-col">
    <h1 class="primary-font mt-5 text-5xl">{{.Title}}</h1>
    <p class="secondary-font text-neutral-400 mt-1 py-0">{{.Description}}</p>
    <p class="secondary-font text-neutral-500 mt-4 text-sm py-0">Written by {{.Params.author}} | {{ .Date.Format "Jan 2, 2006" }}</p>
    <p class="secondary-font text-neutral-500 text-sm py-0">Last Updated at {{ .Params.updated_at | time.Format "January 2, 2006"  }}</p>
    <hr class="text-white opacity-50 my-4">
    {{.Content}}
  </div>
</div>
{{end}}
