{{ define "main" }}
<section>
  <div
    class="flex flex-col justify-center items-center py-8 px-4 mx-auto h-[100vh] max-w-screen-xl text-center lg:py-16"
  >
    <div
      class="flex flex-col md:flex-row justify-center items-center-safe my-4"
    >
      <img
        src="/images/bytes-guide-logo.svg"
        class="h-32 md:h-78 mx-3"
        alt="Byte's Guide Logo"
      />

      <h1
        class="mb-4 logo-font text-9xl tracking-tight leading-none  md:text-9xl lg:text-9xl text-white text-center md:text-left"
      >
        Bytes <br />
        Guide
</h1>
    </div>
    <p
      class="text-lg primary-font font-normal text-neutral-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
    >
      Take a <u>byte</u> out of programming! Get it? Byte!? Please don't click
      off...
    </p>
    <p
      class="mb-8 secondary-font font-normal text-neutral-650 sm:px-16 lg:px-48 dark:text-neutral-600"
    >
      Built by Vincent Buchner
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <a
        href="/home/"
        class="inline-flex secondary-font justify-center items-center py-3 px-5 text-base font-medium text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        Get started
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
      <a
        href="/about/"
        class="py-3 px-5 sm:ms-4 secondary-font text-sm font-medium  focus:outline-none border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700"
      >
        Learn more
      </a>
    </div>
  </div>
</section>
{{ end }}
