{{ define "main" }}
<div class="container mx-auto px-4 py-8 max-w-full overflow-hidden">
  <button
    onclick="history.back()"
    class="text-neutral-500 text-sm cursor-pointer secondary-font flex justify-center items-center mb-3 hover:underline focus:outline-none focus:ring-2 focus:ring-neutral-300 dark:text-neutral-500 dark:focus:ring-neutral-800"
  >
    <svg
      class="w-4 h-4 mr-2 text-neutral-500"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-arrow-left-icon lucide-arrow-left"
    >
      <path d="m12 19-7-7 7-7" />
      <path d="M19 12H5" />
    </svg>
    Go back
  </button>
  <h1 class="text-6xl primary-font font-bold">{{ .Title }}</h1>
  <div class="content secondary-font text-neutral-500">{{ .Content }}</div>

  <h3 class="text-2xl primary-font mt-5">Blog Posts</h3>
  <a href="/blog">
    <p class="secondary-font text-sm mb-3 text-neutral-500 underline py-0">
      View all posts
    </p>
  </a>
  {{ partial "blog-carousel" . }}

  <h3 class="text-2xl primary-font mt-5">Lessons and Tutorials</h3>
  <a href="/lessons">
    <p class="secondary-font text-sm mb-3 text-neutral-500 underline py-0">
      View all lessons
    </p>
  </a>
  {{ partial "lessons-carousel" . }}

  <h3 class="text-2xl primary-font mt-5">Projects</h3>
  <a href="/portfolio/projects/">
    <p class="secondary-font text-sm mb-3 text-neutral-500 underline py-0">
      View all projects
    </p>
  </a>
  {{ partial "projects-carousel" . }}

  <h3 class="text-2xl primary-font mt-5">Author's Corner</h3>
  <a href="/authors-corner">
    <p class="secondary-font text-sm mb-3 text-neutral-500 underline py-0">
      View all notes
    </p>
  </a>
  {{ partial "authors-corner-carousel" . }}
</div>
{{ end }}
